* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: 350px;
}

.navbar {
    width: 100vw;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header button {
    z-index: 1;
}


nav .container-fluid {
    width: 980px;
    margin: 0 auto;
}

main {
    width: 100vw;
    min-width: 350px;
}

#jumbotron-box {
    width: 100%;
    height: 600px;
    position: relative;
}

.jumbotron {
    z-index: 1;
    height: 600px;
    padding-top: 100px;
    background-color: rgba(34, 34, 34, 0.3);
}

.bg-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 1600px;
    background-position: center center;
    background-image: url('../img/bg.webp');
}

.jumbotron .container {
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 1;
    width: 980px;
    margin: 0 auto;
}

.jumbotron .container .btn {
    margin-top: 20px;
}

#introduct {
    width: 100%;
    background-color: whitesmoke;
    height: 650px;
}

#introduct .container {
    width: 980px;
}

#introduct .container img {
    width: 120px;
    height: 150px;
    float: right;

}

#introduct .introduct-box {
    height: 300px;
    width: 800;
    margin: 0 auto;
    padding: 10px;

}

.introduct-box .content {
    width: 80%;
}

.introduct-box .content p {
    text-indent: 2em;
}

.introduct-box .content strong,
.introduct-box .content span {
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 25px;
}

.introduct-box .content span {
    text-align: left;
}

#introduct .ability-box {
    line-height: 40px;
}

#introduct .ability-box .progress {
    height: 10px;
    width: 75%;
    display: inline-block;
    margin-bottom: 0;
}

#introduct .ability-box .ability-name {
    display: inline-block;
    width: 15%;
    text-align: center;
}

#project {
    width: 100%;
    height: 100%;
    background-color: #222;

}

#project .container {
    color: white;
}

#project .container .thumbnail {
    margin: 25px 10px;

}

@media screen and (max-width: 770px) {
    #introduct .container {
        width: 730px;
    }


    #introduct .container img {
        width: 100px;
        height: 120px;
    }

    .introduct-box .content p {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 370px) {
    #introduct .container {
        width: 370px;
        height: 700px;
    }

    .container h1 {
        font-size: 25px;
    }

    #introduct .container img {
        width: 80px;
        height: 100px;
        float: none;
        margin-left: 110px;
        margin-bottom: 30px;
    }

    #introduct .container  {
        font-size: 12px;
    }

    .introduct-box .content {
        width: 100%;
    }

    .introduct-box .content p {
        margin-bottom: 30px;
    }

    .ability-box {
        height: 300px;
        margin-top: 140px;
    }

    #introduct .ability-box {
        line-height: 25px;
    }
    #introduct .ability-box .progress {
        height: 7px;
    }

}